*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
    background: #000;
    color: #fff;
    line-height: 1.5;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

#photo{
    background: #000;
    border: 1px solid #222;
    border-radius: 12px;
    padding: 2rem;
    height: 300px;
    width: 330px;
}

#recipe-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.image-input{
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttons{
    width: 330px;
    height: 60px;
    border: 1px solid #222;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.buttons button {
    width: 72%;
    height: 75%;
    border-radius: 24px;
    border: 1px solid #222;
    background: #000;
    color: black;
    background: white;
    font-size: 18px;
    font-family: system-ui, -apple-system, sans-serif;
}

.camera{
    width: 18%;
    height: 75%;
    background-color: #000;
    border-radius: 8px;
    border: 1px solid #222;
}

.index-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    gap: 70px;
}

.info p {
    background: #222;
    padding: 0.4rem 1rem;
    border-radius: 12px;
    padding: 20px;
}


.main-nav-div{
    height: 50px;
    width: 50%;
    margin: auto;
    border: 1px solid #222;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    background: white;
}

.main-nav-div ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: system-ui, -apple-system, sans-serif;
}

.main-nav-div ul li{
    list-style: none;
}